.particle-card {
  background-color: #1d2123;
  // color: #8a8a8a;
  color: white;
  border-radius: 10px;
}
.card-header {
  text-align: center;
}
.cart-header__icon {
  color: white;
}
.cart-header__icon--like {
  color: red;
}
