.app-bar {
  background-color: #1d2123;
  border-radius: 10px;
  flex-direction: row;
  margin-bottom: 30px;
}
.search-button {
  display: flexbox;
  margin-right: 17px;
}
.toolbar {
  min-height: 60px;
}
