.app-bar {
  background-color: #1d2123;
  border-radius: 10px;
  flex-direction: row;
  margin-bottom: 30px;
  @media (max-width: 779px) {
    flex-direction: column;
  }
  &__container {
    @media (max-width: 779px) {
      padding: 0;
    }
  }
}
.search-button {
  width: 40px;
  display: flexbox;
  margin-right: 17px;
  &:hover {
    color: #e7cd3b;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
.toolbar {
  min-height: 60px;
  z-index: 5;
}
