$padding-border: 20px;
.grid-tags {
  display: grid;
  width: 50%;
  gap: 5px;
  text-align: center;
  margin-bottom: 30px;

  grid-template-areas:
    "a a b b"
    "c d d e";
  &__item {
    border: none;
    font-style: inherit;
    font-weight: bold;
    color: #1d2123;

    padding: 10px;
    background-color: #e7cd3b;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: white;
      background-color: #1d2123;
    }
  }
  &__item--a {
    grid-area: a;
  }
  &__item--b {
    grid-area: b;
  }
  &__item--c {
    grid-area: c;
  }
  &__item--d {
    grid-area: d;
  }
  &__item--e {
    grid-area: e;
  }
}
.articles-grid-wrap {
  .articles-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    height: 350px;
    background-color: #1d2123;
    border-radius: 10px;
    // overflow: hidden;
    margin-bottom: 15px;

    &__wrap-bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 15%;
    }
    &__wrap-top {
      display: flex;
      flex-direction: row;
      height: calc(85% - $padding-border);
      margin-bottom: $padding-border;
    }
    &__title {
      margin-top: 0;
      color: white;
      text-transform: uppercase;
    }
    &__image-item {
      display: block;
      width: 40%;
      line-height: 0;
      height: 100%;
      overflow: hidden;
      //test
      background-color: grey;
    }
    &__image {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    &__description {
      width: 60%;
      margin-left: $padding-border;
    }
    &__open {
      background-color: rgb(88, 88, 88);
      padding: 15px;
      bottom: 35px;
      right: 50px;
      transition: color 0.5s ease-in-out;
      &:hover {
        color: white;
      }
    }
    .actions {
      display: flex;
      gap: 15px;
      color: #8a8a8a;
      // bottom: 0;
      &__btn {
        padding: 0;
        color: inherit;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: white;
        }
      }
      &__icon {
        color: inherit;
        font-size: 40px;
      }
      &__icon-like {
        color: inherit;
      }
    }
  }
}

.divider {
  position: relative;
  width: 100%;
  height: 1px;
  margin: 30px 0;
  background-color: #757575;
  &:before {
    position: absolute;
    content: "";
    width: 60px;
    height: 3px;
    top: -1px;
    left: 50%;
    margin: 0 0 0 -30px;
    background-color: #e7cd3b;
    clear: both;
  }
}
