.app-btn {
  display: block;
  position: relative;
  margin: 0 0 0 1px;
  padding: 16px 16px;
  font-weight: 600;
  color: #cacaca;
  background-color: inherit;
  border: 0;
  transition: all 0.18s ease-in-out;
  z-index: 1;
  &:hover {
    color: white;
    background-color: #e7cd3b;
  }
  &__bg {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    transform: translateX(-50%);
    background-color: #e7cd3b;
    transition: all 0.18s ease-in-out;
    z-index: 2;
    opacity: 0;
  }
  &__span {
    color: inherit;
    position: relative;
    z-index: 3;
  }
  &:hover > &__bg {
    width: 100%;
    opacity: 1;
  }
  &--active {
    color: white;
    background-color: #e7cd3b;
  }
  .dropdown-wrap {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 100%;
    width: 120%;
    background-color: rgb(85, 82, 82);
    z-index: 4;
    &__item {
      display: block;
      text-indent: 10px;
      color: #cacaca;
      padding: 5px;
      border-bottom: solid 1px gray;
      &:hover {
        background-color: grey;
        color: #cacaca;
      }
      &:last-child {
        border: none;
      }
    }
  }
  &:hover > .dropdown-wrap {
    display: block;
  }
}
