.footer-bar {
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  border-radius: 10px;
  background-color: #1d2123;
  width: 100%;
  &__title {
    width: 100%;
    padding: 27px 40px;
    margin: 0;
    text-align: center;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
  }
  &__wrap {
    display: flex;
    padding: 20px 40px 10px;
    background: #576269;
  }
  &__copyright {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Raleway", sans-serif;
    line-height: 1.571428571428571;
    box-sizing: border-box;
    min-height: 45px;
    font-size: 12px;
    color: #aaaaaa;
    background-color: #1e2225;
    padding: 13px 40px;
  }
  .footer-bar-item {
    padding: 0 15px;
    width: 33.33%;
    &__image {
      width: 100%;
      height: auto;
    }
    &__title {
      position: relative;
      padding: 0 0 12px;
      border-bottom: #858585 solid 1px;
      text-transform: uppercase;
      &:after {
        box-sizing: border-box;
        position: absolute;
        content: "";
        left: 0;
        bottom: -2px;
        width: 40px;
        height: 3px;
        background-color: #e7cd3b;
      }
    }
  }
  .grid-tags {
    display: grid;
    width: 50%;
    gap: 5px;
    text-align: center;

    grid-template-areas:
      "a a b b"
      "c d d e";
    a {
      padding: 5px;
      background-color: #6f7c85;
      border-radius: 5px;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #e7cd3b;
      }
    }
    &__item-a {
      grid-area: a;
    }
    &__item-b {
      grid-area: b;
    }
    &__item-c {
      grid-area: c;
    }
    &__item-d {
      grid-area: d;
    }
    &__item-e {
      grid-area: e;
    }
  }
}
