$padding-border: 20px;

.articles-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  height: 350px;
  background-color: #1d2123;
  border-radius: 10px;
  margin-bottom: 15px;

  &__wrap-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15%;
  }
  &__wrap-top {
    display: flex;
    flex-direction: row;
    height: calc(85% - $padding-border);
    margin-bottom: $padding-border;
  }
  &__title {
    margin-top: 0;
    color: white;
    text-transform: uppercase;
  }
  &__image-item {
    display: block;
    width: 40%;
    line-height: 0;
    height: 100%;
    overflow: hidden;
    background-color: grey;
  }
  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &__description {
    width: 60%;
    margin-left: $padding-border;
  }
  &__tag {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    padding: 5px;
    color: white;
    background-color: #e7cd3b;
    border-radius: 5px;
    text-align: center;

    margin-left: 225px;
    margin-top: auto;

    & > span {
      color: inherit;
    }
  }

  &__open {
    background-color: rgb(88, 88, 88);
    padding: 15px;
    bottom: 35px;
    // right: 50px;
    margin-left: 565px;
    transition: color 0.5s ease-in-out;
    &:hover {
      color: white;
    }
  }
  .actions {
    display: flex;
    gap: 15px;
    color: #8a8a8a;
    &__btn {
      padding: 0;
      color: inherit;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: white;
      }
    }
    &__icon {
      color: inherit;
      font-size: 40px;
    }
    &__icon-like {
      color: inherit;
    }
  }
}
